
/* フォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
@font-face {
    font-family: "DIN Alternate Bold";
    src: url("../fonts/DIN Alternate Bold.ttf") format("truetype");
    font-weight: bold;
}


/* 検索MEMO：(?!(;|{|}|/)).$ */


/* --------------------------- */
/*          全体部分            */
/* --------------------------- */
body {
    /* ---- フォント ---- */
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: rgba(70, 70, 70, 1.0);

    /* ---- 背景 ---- */
    background-image: url(../img/whitewall_10per.png),
                      url(../img/Top_BG_01.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* --------------------------- */
/*         リンク文字設定         */
/* --------------------------- */
a {
    /* ---- リンクの下線（つけない） ---- */
    text-decoration: none;
    /* ---- 文字色（親を継承） ---- */
    color: inherit;
}


/* --------------------------- */
/*         HEADER部分           */
/* --------------------------- */
/* ナビゲーションバー本体 */
header {
    /* ---- フォント ---- */
    font-family: "DIN Alternate Bold", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(100, 100, 100, 1.0);

    /* ---- Gridレイアウト ---- */
    display: grid;
    /* 列数・行数の数は幅を指定（frで均等幅になる） */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* 列に名前を指定（複数行の場合は " " をスペース区切りで後ろに追加する） */
    grid-template-areas: "header-left header-center header-right";
    /* それぞれのセル内のコンテンツの位置設定（justify：横／align：縦） */
    justify-items: center;
    align-items: center;


    /* ---- 色 ---- */
    /* color: rgba(252, 252, 252, 1.0); */

    /* ---- 余白 ---- */
    margin-top: 0.8rem;
}


/* Gridレイアウト */
header .header-logo {
    /* 本来は grid-row などで線番号で指定するが */
    /* 名前を設定していれば名前の指定だけでOK */
    grid-area: header-center;
}
header .header-nav {
    /* 本来は grid-row などで線番号で指定するが */
    /* 名前を設定していれば名前の指定だけでOK */
    grid-area: header-right;
}


/* ロゴ画像 */
#top-logo {
    /* ---- サイズ ---- */
    width: calc(2000px * 0.1);
    height: calc(600px * 0.1);

    /* ---- 位置 ---- */
    /* 画像の縦位置を設定しないと、文字用に下に余白が出来てしまう */
    vertical-align: middle;
}


/* メインナビゲーション全体 */
.header-nav ul {
    /* ---- Flexレイアウト ---- */
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    /* ---- 余白 ---- */
    margin: 0.5rem 0rem;
}

/* ナビゲーションの１項目 */
.header-nav ul li {
    /* ---- フォント ---- */
    font-size: 1.2rem;
    text-transform: uppercase;

    /* ---- リストの表示設定 ---- */
    list-style-type: none;

    /* ---- ボックスの下線 ---- */
    border-bottom: 0.15rem solid;

    /* ---- 余白 ---- */
    padding: 0.6rem 0.8rem;
    margin: 0rem 0.5rem;
}



/* メニューのトランジション設定 */
.header-nav ul li {
    transition-property: color;
    transition-duration: 0.5s;
}

/* メニュー選択時 */
.header-nav ul li:hover {
    color: rgba(228, 95, 95, 1.0);
}



/* --------------------------- */
/*          メイン部分           */
/* --------------------------- */

/* トップエリア */
.top-area {
    /* ---- Gridレイアウト ---- */
    display: grid;
    /* 列数・行数の数は幅を指定（frで均等幅になる） */
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    /* 列に名前を指定（複数行の場合は " " をスペース区切りで後ろに追加する） */
    grid-template-areas: "grid-phone-image grid-top-text";
    /* それぞれのセル内のコンテンツの位置設定（justify：横／align：縦） */
    justify-items: center;
    align-items: center;
    column-gap: 3rem;

    /* ---- 余白 ---- */
    margin: 3rem 5rem;;
}


/* Gridレイアウト */
.top-area .grid-phone-image {
    /* 本来は grid-row などで線番号で指定するが */
    /* 名前を設定していれば名前の指定だけでOK */
    grid-area: grid-phone-image;
    justify-self: end;
}
.top-area .grid-top-text {
    /* 本来は grid-row などで線番号で指定するが */
    /* 名前を設定していれば名前の指定だけでOK */
    grid-area: grid-top-text;
    justify-self: start;
}

/* 画面イメージ */
#phone-image {
    width: calc(1370px * 0.23);
    height: calc(2712px * 0.23);
    filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.5));
}

.grid-top-text h1 {
    font-size: 2.5rem;
    margin: 0 0 3rem;
}

.grid-top-text p {
    font-size: 1.5rem;
}

.grid-top-text .storelink-icon {
    margin: 6rem 0rem 1rem;
}

.grid-top-text .caution p {
    font-size: 0.8rem;
}



/* --------------------------- */
/*          ABOUT部分           */
/* --------------------------- */
/* アバウトの中一括 */
#about>div {
    /* ---- Gridレイアウト ---- */
    display: grid;
    /* 列数・行数の数は幅を指定（frで均等幅になる） */
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    /* 列に名前を指定（複数行の場合は " " をスペース区切りで後ろに追加する） */
    grid-template-areas:
        "grid-about-title grid-about-title"
        "grid-about-icon grid-about-description";
    /* それぞれのセル内のコンテンツの位置設定（justify：横／align：縦） */
    justify-items: center;
    align-items: center;
    column-gap: 3rem;

    /* ---- フォント ---- */
    color: rgba(252, 252, 252, 1.0);

    /* ---- 余白 ---- */
    padding: 4rem 4rem;
}

/* アバウトごとの背景色 */
.about-01 {
    background-color: rgba(41, 124, 180, 1.0);
}
.about-02 {
    background-color: rgba(21, 63, 92, 1.0);
}

/* アバウトタイトル部分一括 */
.grid-about-title {
    /* ---- Gridレイアウト ---- */
    grid-area: grid-about-title;
    /* ---- テキスト設定 ---- */
    text-align: center;
}

/* アバウトのアイコン一括 */
.grid-about-icon {
    /* ---- Gridレイアウト ---- */
    grid-area: grid-about-icon;
    justify-self: end;
}

/* アバウトの詳細部分一括 */
.grid-about-description {
    /* ---- Gridレイアウト ---- */
    grid-area: grid-about-description;
    justify-self: start;
    /* ---- テキスト設定 ---- */
    font-size: 1.3rem;
}

/* アイコンの大きさ一括 */
.about-icon {
    width: calc(1100px * 0.25);
    height: calc(1100px * 0.25);
}



/* --------------------------- */
/*         下部ボタン部分         */
/* --------------------------- */
.link-buttons {
    /* ---- Flexボックス ---- */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ---- フォント ---- */
    color: rgba(252, 252, 252, 1.0);
    /* ---- 余白 ---- */
    margin: 4rem 3rem;
}

.link-buttons>div {
    /* ---- ボックスの大きさ ---- */
    width: 23rem;
}

.link-buttons>div p {
    /* ---- フォント ---- */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    /* ---- ボックスの角丸 ---- */
    border-radius: 3rem;
    /* ---- 余白 ---- */
    padding: 1rem 1rem;
    margin: 2rem 0;
}

.button-csv p {
    background-color: rgba(228, 94, 94, 1.0);
}
.button-qa p {
    background-color: rgba(255, 134, 51, 1.0);
}


/* アニメーション設定 */
.link-buttons>div p {
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
}
.link-buttons>div p:hover {
    transform: translate(-4px, -6px);
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
    /* text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3); */
}
.link-buttons>div p:active {
    transform: translate(0px, 0px);
    box-shadow: none;
}



/* --------------------------- */
/*         FOOTER部分           */
/* --------------------------- */
footer {
	background-color: inherit;
	width: 100%;
	text-align: center;
	margin: 1rem 0;
}

footer p {
	color: rgba(120, 120, 120, 1.0);
}
